<div>
    <div>
        <h2>Hello {{username}}!</h2>
    </div>
    
    {{#if posts.length}}

        {{#each posts as |post|}}
        <div class="card border-info mb-3">
            <div class="card-header">
                <h2 class="card-title"><a href="/api/post/{{post.id}}" class="text-reset text-decoration-none">{{post.title}}</a></h2>
                <p>Posted by: {{post.user.username}} on {{format_date post.date_created}}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{post.description}}</p>
            </div>
        </div>
        {{/each}}
    {{/if}}
    <div>
        <button>Add Post</button>
    </div>
</div>