<div class="card border-info mb-3">
    <div class="card-header">
        <h2 class="card-title">{{title}}</h2>
        <p class="card-text">Posted by: {{user.username}} on {{format_date date_created}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{description}}</p>
    </div>
</div>

{{#each comments as |comment| }}
<div class="card border-info mb-3">
    <div class="card-header">
    </div>
    <div class="card-body">
        <p class="card-text">{{comment.description}}</p>
        <p class="card-text">- {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
</div>
{{/each}}

{{#if logged_in}}
<div>
    <h3>Leave a Comment!</h3>
    <form class="comment-form">
        <div>
            <label for="description" class="form-label">What would you like to say?</label>
            <input type="text" name="description" id="comment-description" class="form-control">
        </div>
        <div>
            <button type="submit" id="commentBtn" class="btn btn-outline-dark">Add Comment</button>
        </div>
    </form>
</div>
{{/if}}