<div>
    <div>
        <h2>{{title}}</h2>
        <p>Posted by: {{user.username}} on {{date_created}}</p>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
</div>

{{#each comments as |comment| }}
<div>
    <div>
    </div>
    <div>
        <p>{{comment.description}}</p>
        <p>- {{comment.user.username}} on {{comment.date_created}}</p>
    </div>
</div>
{{/each}}

{{#if logged_in}}
<div>
    <button href="">Add a Comment</button>
</div>
{{/if}}