<div>
    <div>
        <h2>{{title}}</h2>
        <p>Posted by: {{user.username}} on {{format_date date_created}}</p>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
</div>

{{#each comments as |comment| }}
<div>
    <div>
    </div>
    <div>
        <p>{{comment.description}}</p>
        <p>- {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
</div>
{{/each}}

{{#if logged_in}}
<div>
    <form class="comment-form">
        <div>
            <label for="description">Comment: </label>
            <input type="text" name="description" id="commentDesc">
        </div>
        <div>
            <button href="">Add a Comment</button>
        </div>
    </form>
</div>
{{/if}}